<h1 nz-typography>用户</h1>
<nz-divider></nz-divider>
<button nz-button nzType="primary" class="add-button" routerLink="addSubject">新增</button>
<nz-table #basicTable [nzData]="users">
    <thead>
    <tr>
        <th>Name</th>
        <th>email</th>
        <th>id</th>
        <th>enabled</th>
        <th>domain</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.id }}</td>
        <td>{{ data.enabled }}</td>
        <td>{{ data.domain_id }}</td>
        <td>
            <a >编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确定要删除吗?" (click)="delete(data.id)">删除</a>
        </td>
    </tr>
    </tbody>
</nz-table>
