<h1 nz-typography>用户</h1>
<nz-divider></nz-divider>
<button nz-button nzType="primary" class="add-button" routerLink="addUser">新增</button>
<nz-table #basicTable [nzData]="users" (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)">
    <thead>
    <tr>
        <th>Name</th>
        <th>email</th>
        <th>id</th>
        <th>enabled</th>
        <th>domain</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.id }}</td>
        <td>{{ data.enabled }}</td>
        <td>{{ data.domain_id }}</td>
        <td>
            <a (click)="showModal(data)">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确定要删除吗?" (click)="delete(data.id)">删除</a>
        </td>
    </tr>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="修改用户" (nzOnCancel)="handleCancel()">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="userForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-label>
                        id
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input id="id" formControlName="id"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>
                        用户名
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input id="name" formControlName="name"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>邮箱</nz-form-label>
                    <nz-form-control  nzErrorTip="你输入的不是一个邮箱!">
                        <input nz-input formControlName="email" id="email"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="password">密码</nz-form-label>
                    <nz-form-control nzErrorTip="请输入密码!">
                        <input
                            nz-input
                            type="password"
                            id="password"
                            formControlName="password"
                        />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>
                        用户名
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input id="enabled" formControlName="enabled"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>
                        用户名
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input id="domain_id" formControlName="domain_id"/>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
        <div *nzModalFooter>
            <button nz-button nzType="default" (click)="handleCancel()">取消</button>
            <button nz-button nzType="primary" (click)="handleOk()" type="submit">确认</button>
            <!--            <button nz-button [nzType]="'primary'"  htmlType="submit">添加用户</button>-->
        </div>
    </nz-modal>
    </tbody>
</nz-table>
