<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>228 Stack</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nzTitle="index" nzIcon="dashboard" routerLink="/home/index">
                <span>首页</span>
            </li>
            <li nz-menu-item nzOpen nzTitle="server" nzIcon="form">
                <span>云主机管理</span>
            </li>
            <li nz-menu-item nzOpen nzTitle="user" nzIcon="form" routerLink="/home/user">
                <span>用户管理</span>
            </li>
            <li nz-menu-item nzOpen nzTitle="person" nzIcon="form" routerLink="/home/person">
                <span>个人中心</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <!--        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">-->
                <!--          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>-->
                <!--        </span>-->
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
